/* b-analytics-page */
.b-analytics-page {
	background: var(--primary-background-color);
	}

/* b-analytics-widgets */
.b-analytics-widgets {
	padding: 48px 0 38px;
	background: var(--secondary-background-color);
	&__in {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0 18px;
		}
	}

/* b-analytics-widget */
.b-analytics-widget {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 20px 16px;
	color: var(--fifth-text-color);
	border-radius: 12px;
	&_promo-codes-item {
		background: url(../img/bg/b-analytics-widget-bg-1.jpg) center no-repeat;
		background-size: cover;
		}
	&_requests-item {
		background: url(../img/bg/b-analytics-widget-bg-2.jpg) center no-repeat;
		background-size: cover;
		}
	&_coupons-item {
		background: url(../img/bg/b-analytics-widget-bg-3.jpg) center no-repeat;
		background-size: cover;
		}
	&__icon {
		position: absolute;
		display: block;
		padding: 7px;
		width: 28px;
		height: 28px;
		top: 20px;
		right: 16px;
		border-radius: 6px;
		background: rgba(255, 255, 255, 0.2);
		img {
			width: 100%;
			}
		}
	&__top-col {
		margin: 0 0 24px;
		padding: 0 40px 0 0;
		}
	&__title {
		display: block;
		font-size: 16px;
		font-weight: var(--quaternary-font-weight);
		line-height: 24px;
		letter-spacing: -4%;
		}
	&__text {
		display: block;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: -3%;
		opacity: 0.8;
		}
	&__bottom-panel {
		margin-top: auto;
		}
	&__info-col {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 20px;
		margin: 0 0 5px;
		&__text {
			display: block;
			font-size: 12px;
			line-height: 16px;
			letter-spacing: -3%;
			}
		}
	&__remaining-list {
		display: grid;
		grid-template-columns: repeat(15, 1fr);
		gap: 0 2px;
		margin: 0 -2px;
		li {
			width: 100%;
			height: 4px;
			font-size: 0;
			background: var(--secondary-background-color);
			border-radius: 3px;
			opacity: 0.25;
			&.active {
				opacity: 1;
				}
			}
		}	
	}

/* b-analytics-tabs */
.b-analytics-tabs {
	&__nav {
		background: var(--secondary-background-color);
		}	
	&__nav-in {
		padding: 32px 0;
		border-top: 1px solid var(--primary-border-color);
		ul {
			display: flex;
			align-items: center;
			gap: 0 24px;
			}
		li {
			color: var(--sixth-text-color);
			font-size: 26px;
			font-weight: var(--tertiary-font-weight);
			line-height: 32px;
			letter-spacing: -4%;
			cursor: pointer;
			transition: .5s color;
			&:hover {
				color: var(--primary-text-color);
				}
			&.active {
				color: var(--secondary-text-color);
				cursor: default;
				}
			}	
		}
	&__content {
		padding: 48px 0 256px;
		}
	&__item {
		display: none;
		&.active {
			display: block;
			}
		}
	}

/* b-analytics-top-panel */
.b-analytics-top-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0 30px;
	margin: 0 0 24px;
	&__sm-title {
		display: block;
		margin: 0 0 8px;
		color: var(--primary-text-color);
		font-size: 14px;
		font-weight: var(--tertiary-font-weight);
		line-height: 20px;
		}
	.select {
		width: 320px;
		}
	}

/* b-grid-charts */
.b-grid-charts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px 16px;
	&__item {
		display: flex;
		flex-direction: column;
		gap: 16px 0;
		.b-analytics-widgent {
			height: 100%;
			}
		&:nth-child(1) {
			grid-column: span 2;
			}
		&:nth-child(3) {
			grid-column: span 3;
			}
		&:nth-child(5) {
			grid-column: span 2;
			}
		}
	}

/* b-analytics-table */
.date-range-field {
	position: relative;
	width: 260px;
	input {
		padding: 0 36px 0 12px;
		height: 40px;
		background: var(--secondary-background-color);
		}
	&__delete {
		position: absolute;
		display: block;
		width: 16px;
		height: 16px;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		font-size: 0;
		background: url(../img/icons/b-delete.svg) center no-repeat;
		background-size: 100%;
		cursor: pointer;
		}
	}

/* b-analytics-info-list */
.b-analytics-info-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px 16px;
	}

/* b-orders-line */
.b-orders-line {
	display: flex;
	align-items: center;
	&__item {
		height: 42px;
		&.b-views-l {
			background: #1D4ED8;
			border-radius: 8px 0 0 8px;
			box-shadow:
		  0px 2px 4px -2px rgba(29, 78, 216, 0.1),
		  0px 4px 8px -2px rgba(29, 78, 216, 0.4);
			}
		&.b-clicks-l {
			background: #F97316;
			box-shadow:
		  0px 2px 4px -2px rgba(249, 115, 22, 0.1),
		  0px 4px 8px -2px rgba(249, 115, 22, 0.4);
			}
		&.b-orders-l {
			background: #22C55E;
			border-radius: 0 8px 8px 0;
			box-shadow:
		  0px 2px 4px -2px rgba(34, 197, 94, 0.1),
		  0px 4px 8px -2px rgba(34, 197, 94, 0.4);
			}
		&.b-cancellation-l {
			margin: 0 0 0 8px;
			background: #E879F9;
			border-radius: 8px;
			}
		}
	}

/* b-orders-info-panel */
.b-orders-info-panel {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	&__item {
		display: flex;
		align-items: flex-start;
		gap: 0 6px;
		}
	&__icon {
		flex-shrink: 0;
		margin: 7px 0 0;
		}
	&__quantity {
		color: var(--secondary-text-color);
		font-size: 24px;
		line-height: 32px;
		letter-spacing: -3%;
		}
	}

/* b-analytics-widgent */
.b-analytics-widgent {
	display: flex;
	flex-direction: column;
	gap: 24px 0;
	padding: 32px 24px;
	background: var(--secondary-background-color);
	border-radius: 16px;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
              0px 1px 3px 0px rgba(16, 24, 40, 0.10);
  &__top-col {
  	display: flex;
  	flex-direction: column;
  	gap: 8px 0;
  	}
  &__top-panel {
  	display: flex;
  	justify-content: space-between;
  	align-items: flex-start;
  	gap: 0 30px;
  	}
  &__info {
  	dt {
  		display: flex;
  		align-items: center;
  		margin: 0 0 8px;
  		color: var(--tenth-text-color);
  		font-size: 14px;
  		font-weight: var(--tertiary-font-weight);
  		line-height: 20px;
  		img {
  			position: relative;
  			top: 1px;
  			}
  		}
  	dd {
  		display: flex;
  		flex-direction: column;
  		gap: 4px 0;
  		}
  	}
  &__number {
  	color: var(--secondary-text-color);
  	font-size: 36px;
  	font-weight: var(--tertiary-font-weight);
  	line-height: 40px;
  	letter-spacing: -4%;
  	}
  &__list {
  	display: flex;
  	flex-direction: column;
  	gap: 16px 0;
  	.b-statistics-panel {
  		justify-content: space-between;
  		&__text {
  			color: var(--tenth-text-color);
  			font-weight: var(--secondary-font-weight);
  			}
  		}
  	}
  &__title {
  	display: block;
  	color: var(--secondary-text-color);
  	font-size: 18px;
  	font-weight: var(--tertiary-font-weight);
  	line-height: 28px;
  	}
	}

/* b-chart-info-panel */
.b-chart-info-panel {
	display: flex;
	align-items: center;
	gap: 0 24px;
	&__item {
		display: flex;
		align-items: center;
		gap: 0 4px;
		&.b-clicks-p {
			.b-chart-info-panel__text {
				color: #F97316;
				}
			}
		&.b-orders-p {
			.b-chart-info-panel__text {
				color: #22C55E;
				}
			}
		&.b-views-p {
			.b-chart-info-panel__text {
				color: #1D4ED8;
				}
			}
		}
	&__text {
		display: block;
		font-size: 14px;
		font-weight: var(--tertiary-font-weight);
		line-height: 20px;
		}
	}

.b-clicks-i {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	background: #F97316;
	}

.b-orders-i {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	background: #22C55E;
	border-radius: 4px;
	}

.b-views-i {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	background: #1D4ED8;
	border-radius: 4px;
	}

.b-cancellation-i {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	background: #E879F9;
	border-radius: 4px;
	}

/* b-statistics-panel */
.b-statistics-panel {
	display: flex;
	align-items: center;
	gap: 0 12px;
	&__text {
		display: block;
		font-size: 14px;
		font-weight: var(--tertiary-font-weight);
		line-height: 20px;
		a {
			color: var(--ninth-text-color);
			font-weight: var(--secondary-font-weight);
			border-bottom: 1px solid;
			&:hover {
				color: var(--tertiary-text-color);
				}
			}
		}
	&__percent {
		position: relative;
		display: block;
		padding: 0 0 0 16px;
		min-width: 60px;
		font-size: 14px;
		font-weight: var(--tertiary-font-weight);
		line-height: 20px;
		&.negative {
			color: #EF4444;
			&:before {
				position: absolute;
				display: block;
				width: 8px;
				height: 6px;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: url(../img/icons/negative.svg) center no-repeat;
				background-size: 100%;
				content: "";
				}
			}
		&.positive {
			color: #22C55E;
			&:before {
				position: absolute;
				display: block;
				width: 8px;
				height: 6px;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: url(../img/icons/positive.svg) center no-repeat;
				background-size: 100%;
				content: "";
				}
			}
		}
	&__right-col {
		display: flex;
		align-items: center;
		gap: 0 12px;
		}
	&__number-col {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 130px;
		}
	&__number {
		display: block;
		color: var(--sixth-text-color);
		font-size: 14px;
		line-height: 20px;
		}
	}

/* b-chart-line */
.b-chart-line {
	height: 83px !important;
	min-height: 83px !important;
	}

/* b-chart */
.b-chart {
	height: 284px !important;
	min-height: 284px !important;
	}

/* b-chart-md */
.b-chart-md {
	height: 344px !important;
	min-height: 344px !important;
	}

/* b-chart-md */
.b-chart-md {
	height: 344px !important;
	min-height: 344px !important;
	}

/* b-chart-grid */
.b-chart-grid {
	height: 368px !important;
	min-height: 368px !important;
	}

/* b-analytics-table */
.b-analytics-table {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	border-collapse: collapse;
	border-radius: 12px;
	background: var(--secondary-background-color);
	box-shadow: 0 0 0 1px var(--primary-border-color);
	thead {
		td {
			padding: 15px 16px;
			color: var(--sixth-text-color);
			border-bottom: 1px solid var(--primary-border-color);
			}
		}
	tbody {
		td {
			padding: 26px 16px;
			color: var(--quaternary-text-color);
			border-bottom: 1px solid var(--primary-border-color);
			}
		tr {
			&:nth-child(odd) {
				td {
					background: var(--primary-background-color);
					}
				}
			&:last-child {
				td {
					border-bottom: 0;
					&:first-child {
						border-radius: 0 0 0 12px;
						}
					&:last-child {
						border-radius: 0 0 12px 0;
						}
					}
				}
			}
		}
	}